/* Reset style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

/* Google font*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared style */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
.display-flex {
  display: flex;
}
/* Dark-01 */
.dark-gray {
  color: #131313;
}
/* Dark-02 */
.dark-light {
  color: #424242;
}
/* Dark-03 */
.dark-extra-light {
  color: #727272;
}
.fw-bold {
  font-weight: 700;
}
.fw-semibold {
  font-weight: 600;
}
.fw-regular {
  font-weight: 400;
}
.text-decoration {
  text-decoration: none;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.fs-16 {
  font-size: 1rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-45 {
  font-size: 2.81rem;
}
.btn {
  padding: 20px 25px;
  color: #ffffff;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ff900e;
}
main > section {
  margin-top: 130px;
}

/* Navbar */
header .dynamic-arc {
  position: sticky;
  top: 0;
  font-size: 28px;
  padding: 10px 0;
  background-color: pink;
}
header .dynamic-arc .arc {
  color: tomato;
}
header .dynamic-arc .bangla {
  color: red;
}
header .dynamic-arc .desh {
  color: green;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.navbar .navbar-brand h2 {
  font-size: 2.81rem;
}
.navbar .navbar-nav {
  gap: 1.87rem;
}
.navbar .nav-item {
  list-style-type: none;
}
.navbar .nav-link {
  display: block;
  text-align: center;
  font-size: 1.12rem;
}

/* Banner */
.banner {
  padding-top: 102px;
  padding-bottom: 45px;
}
.banner .banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}
.banner .banner-title {
  font-size: 4rem;
}
.banner .banner-description {
  line-height: 1.62rem;
  margin-top: 24px;
}
.banner button[type="button"] {
  margin-top: 32px;
  margin-bottom: 60px;
}
.banner .banner-image {
  width: 100%;
  max-height: 750px;
  border-radius: 8px;
}

/* Main */
/* Teams */
.teams {
  justify-content: space-between;
  align-items: center;
}

.teams .teams-img-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams .teams-img-content img {
  width: 100%;
}

.team-features {
  max-width: 535px;
  margin-left: 35px;
}
.team-features .feature-title {
  font-size: 2.81rem;
}
.team-features .feature-title .quickList {
  font-size: 2.81rem;
}
.team-features .feature {
  color: #ff900e;
}
.team-features .feature-text {
  line-height: 1.62rem;
  padding-top: 24px;
  padding-bottom: 32px;
}

/* Facts */
.facts .facts-content {
  max-width: 542px;
}
.facts .facts-content-card {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.facts .facts-title {
  font-size: 2.81rem;
  margin-bottom: 24px;
}
.facts .facts-text {
  line-height: 1.62rem;
}
.facts-card {
  border: 1px solid #ff900e;
  width: 241px;
  height: 241px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
}
/* Our sponsors */
.sponsors-title {
  margin-bottom: 24px;
}
.our-sponsors .sponsors-text {
  line-height: 1.62rem;
}
.our-Sponsors .sponsors {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.sponsors-logos {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
.sponsors-logos img {
  filter: grayscale(100%);
  justify-self: center;
}

/* Responsive area */
/* Header */
@media only screen and (max-width: 1040px) {
  .facts .facts-content-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .sponsors-logos {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .navbar-brand {
    padding-bottom: 22px;
  }
  .banner {
    padding-top: 60px;
  }
  .teams {
    flex-direction: column;
  }
  .team-features {
    margin-top: 60px;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .navbar .navbar-nav {
    flex-direction: column;
  }
  .teams .teams-img-content {
    grid-template-columns: 1fr;
  }
  .facts .facts-content-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .sponsors-logos {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
